body{
    font-family: 'Open Sans', sans-serif;
}

.tarjetas{
    padding-bottom: 50px;
}

h1{
    font-family: 'Oswald', sans-serif;
}

.hero-section {
    background-position: center;
    background-image: url('img/foto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding-top: 100px;
    height: 700px;
    width: 100%;
  }

  i{
      padding: 30px;
  }

  
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 100%;
    width:20px;
    height: 1px;
}

.blog .carousel-indicators .active {
background: #000;
}

